In [7]:
postgresql:///international_debt

SyntaxError: invalid syntax (1932594979.py, line 1)

In [1]:
from sqlalchemy import create_engine

In [4]:
postgresql

NameError: name 'postgresql' is not defined

In [6]:
%load_ext sql

In [8]:
postgresql:///international_debt

SyntaxError: invalid syntax (1932594979.py, line 1)

In [15]:
%sql postgresql://postgres:gbenga@localhost/postgres

'Connected: postgres@postgres'

In [16]:
%sql engine = create_engine('postgresql://postgres:gbenga@localhost/postgres')

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "engine"
LINE 1: engine = create_engine('postgresql://postgres:gbenga@localho...
        ^

[SQL: engine = create_engine('postgresql://postgres:gbenga@localhost/postgres')]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
%sql select * from international_debt limit 3

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [26]:
%sql select * from international_debt limit 10

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', Decimal('72894453.700000003')),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', Decimal('53239440.100000001')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', Decimal('61739336.899999999'))]

In [27]:
%sql SELECT COUNT(DISTINCT(country_name)) FROM international_debt

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(124,)]

In [30]:
%sql SELECT COUNT (DISTINCT country_name) AS number_distinct_countries FROM international_debt;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(124,)]

In [32]:
%sql SELECT DISTINCT indicator_code, indicator_name FROM international_debt

 * postgresql://postgres:***@localhost/postgres
25 rows affected.

[('DT.INT.PRVT.CD', 'PPG, private creditors (INT, current US$)'),
 ('DT.AMT.OFFT.CD', 'PPG, official creditors (AMT, current US$)'),
 ('DT.INT.DLXF.CD', 'Interest payments on external debt, long-term (INT, current US$)'),
 ('DT.INT.DPNG.CD', 'Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)'),
 ('DT.DIS.PCBK.CD', 'PPG, commercial banks (DIS, current US$)'),
 ('DT.AMT.PBND.CD', 'PPG, bonds (AMT, current US$)'),
 ('DT.DIS.MLAT.CD', 'PPG, multilateral (DIS, current US$)'),
 ('DT.DIS.PRVT.CD', 'PPG, private creditors (DIS, current US$)'),
 ('DT.INT.MLAT.CD', 'PPG, multilateral (INT, current US$)'),
 ('DT.INT.PBND.CD', 'PPG, bonds (INT, current US$)'),
 ('DT.INT.PROP.CD', 'PPG, other private creditors (INT, current US$)'),
 ('DT.DIS.OFFT.CD', 'PPG, official creditors (DIS, current US$)'),
 ('DT.AMT.MLAT.CD', 'PPG, multilateral (AMT, current US$)'),
 ('DT.INT.OFFT.CD', 'PPG, official creditors (INT, current US$)'),
 ('DT.DIS.PROP.CD', 'PPG, other private creditors (DIS, current US$)'),
 ('DT.AMT.PCBK.CD', 'PPG, commercial banks (AMT, current US$)'),
 ('DT.DIS.BLAT.CD', 'PPG, bilateral (DIS, current US$)'),
 ('DT.AMT.DLXF.CD', 'Principal repayments on external debt, long-term (AMT, current US$)'),
 ('DT.AMT.PROP.CD', 'PPG, other private creditors (AMT, current US$)'),
 ('DT.AMT.PRVT.CD', 'PPG, private creditors (AMT, current US$)'),
 ('DT.AMT.BLAT.CD', 'PPG, bilateral (AMT, current US$)'),
 ('DT.INT.PCBK.CD', 'PPG, commercial banks (INT, current US$)'),
 ('DT.INT.BLAT.CD', 'PPG, bilateral (INT, current US$)'),
 ('DT.DIS.DLXF.CD', 'Disbursements on external debt, long-term (DIS, current US$)'),
 ('DT.AMT.DPNG.CD', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)')]

In [34]:
%sql SELECT ROUND(SUM(debt)/1000000, 2) AS total_debt FROM international_debt

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(Decimal('3079734.49'),)]

In [37]:
%sql SELECT country_name, indicator_name FROM international_debt WHERE debt = (SELECT MAX(debt)    FROM international_debt             WHERE indicator_code='DT.AMT.DLXF.CD');

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)')]